include CONTRIBUTING.md
recursive-include resources/nb *.json *.tsv *.txt
recursive-include src/medspacy_no/resources/nb *.json *.tsv *.txt
recursive-include scripts *.py
recursive-include data/owner_review *.tsv
recursive-include docs *.md
